.format-quote {
    padding: 0;

    .entry-content {

        blockquote {
            font-size: 28px;
            margin: 0;
            border: none;
            background-color: #fcfcfc;
        }

        cite {
            display: block;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}
