@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
    #access {

    }
    #logo {
        margin: 15px 0 20px 0;
        float: left;
    }
    #folio {
        .item {
            img {
            }
        }
    }
    .month, .day, .year {
        //display: block;
    }
    .comments, .date {
        //float: none;
    }
    .post-meta {

        span {
            padding: 3px 0;
            display: block;
        }
    }
    #footer-content {
        .widget {
            border-left: 1px solid #1c3e6c;
            border-right: 1px solid #09264b;
        }
        .widget_pages {
            border-left: none;
        }
        .widget_search {
            border-right: none;
        }
    }

}
