@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
    #header {
        //padding: 20px 10px 0 10px;
    }
    #logo {
        margin:15px auto;
        width: 270px;
         a {
            height: auto;
         }
        span {
            text-indent:0;
            display: block;
            float: left;
        }
        #larry {
            background: transparent image_url("logo1.png") no-repeat left center;
            width: 243px;
            text-indent: -999999px;
            height: 29px;
            display: block;
            margin-bottom: 5px;
        }
    }

    #folio {
        .project {
            width: 320px;
            height: 199px;
        }
    }
}
