/*====================================================================
4-oh-4
*/
#four-oh-four {
    min-height: 500px;
}
#four-oh-four h1 {
    font-family: $FFhelvetica;
    font-size: 10em;
}
#four-oh-four p {
    float: left;
    display: block;
}
