/*comments*/

.comments {
    padding-top: 1em;
    margin-bottom: 0;
}

.comment-form {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset, 0 0 16px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);

    label small {
        font-size: 10px;
        color: #a0a0a0;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
        max-width: 100%;
        background: #fff;
    }

    @include respond-min(60em) {
        input {
            width: 60%;
        }
    }
}

.comment-form__submit {
    width: 100px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.nocomments {
}

.comments__list {
    list-style: none;
    margin: 0;
    padding: 0;

    .odd {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .even {
        background-color: rgba(255, 255, 255, 0.6);
    }

    li {
        li {
            border: none;
            box-shadow: none;
        }
    }

    .children{
        list-style: none;
        padding: 0;

        li:last-child {
            margin-bottom: 0;
        }
    }
}

.comment,
.pingback,
.trackback {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset, 0 0 16px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);

}

.comment-author,
.comment-meta {
    margin-bottom: 10px;
}


.comment-author .fn {
    color:#000;
}

.avatar {
    float: left;
    border: 1px solid #dddddd;
    padding: 0;
    margin-right: 1em;
}

.comment-meta {
    font-size:.7em;

    a {
        color: #666;
        text-decoration: none;
        background: none;
        border: none;
        padding: 0;
        white-space: normal;
    }
}


.commentmetadata {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.reply {
    font-size: .9em;
}

.comment-nav {
    clear:both;
    overflow:hidden;
}

.alignright {
    text-align:right;
}

.comment-nav a {
    padding:5px 10px;
    color: white;
    background-color: rgba(12, 43, 87, 0.6);
    text-shadow: 1px 1px 1px #061E3F;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 85px rgba(12, 43, 87, 0.8);
    -moz-box-shadow: inset 0px 0px 100px rgba(12, 43, 87, 0.8);
    box-shadow: inset 0px 0px 85px rgba(12, 43, 87, 0.8);
}

.comment-nav a:hover {
    text-decoration: underline;
}

.container .fullwidth {
    width:100%;
}

.thumblarge {
    margin-bottom:20px;
}

.vcard {
    border: none;
    padding: 0;
}

