.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 900;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    line-height: normal;
    transform: translate(0,0);
    transition: all .2s;
    user-select: none;
    background: rgba(255,255,255,0.7);

    &.header--visible {
        opacity: 1;
        transform: translate(0,0);
    }

    &.header--hidden {
        opacity: 0;
        transform: translate(0,-60px);
    }

    &.header--active {
        background: rgba(255,255,255,1);
    }

    &:hover {
        background: rgba(255,255,255,1);
        cursor: pointer;
    }

    .row {
        text-align: left;
        padding: 0 10px;

        @include respond-min(45em) {
            padding: 0 30px;
        }
    }

}

.logo {
    margin: 0 0 0 1em;
    padding: 0;

    a {
        background: none;
        border: none;
        padding: 0;
        color: #444;
        text-shadow: 2px 2px #e7e7e7;
        font-style: italic;
        display: inline-block;

        &:hover {
            color: darken($blue, 10);
        }

    }
}


.nav-opener {
    float: right;
    margin: 0 1em 0 0;
}

.nav-opener__link {
    border-bottom: none;
    padding: 0;

    svg path {
        stroke : $blue;
    }

    &:hover {

        .nav-opener__text {
            color: darken($blue, 10);
        }

        svg path {
            stroke : darken($blue, 10);
        }
    }
}

.nav-opener__icon {
    @include respond-min(45em) {
        position: relative;
        top: -3px;
    }
}

.nav-opener__text {
    display: none;
    position: relative;
    top: -1px;

    @include respond-min(45em) {
        display: inline-block;
        margin-right: 5px;
    }
}


.logo,
.nav-opener {
    display: inline-block;
    margin: 0;

    @include respond-min(45em) {
        font-size: 1.2em;
    }
}
