


#nav-overlay {
    position: fixed;
    opacity: 0;
    z-index: 800;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(0,-127%);
    -moz-transform: translate(0,-127%);
    -ms-transform: translate(0,-127%);
    -o-transform: translate(0,-127%);
    transform: translate(0,-127%);

    background-color: #f4fafc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-transition: -webkit-transform .5s,opacity 0 .6s;
    -moz-transition: -moz-transform .5s,opacity 0 .6s;
    -o-transition: -o-transform .5s,opacity 0 .6s;
    transition: transform .5s,opacity 0 .6s;
    overflow-y: scroll;

    &.show {
        opacity: 1;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);

        -webkit-overflow-scrolling: touch;
        -webkit-transition: -webkit-transform .5s,opacity 0;
        -moz-transition: -moz-transform .5s,opacity 0;
        -o-transition: -o-transform .5s,opacity 0;
        transition: transform .5s,opacity 0;
    }

}

/*nav*/
.absolute-center {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}

#nav {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    line-height: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 60px 0;
    list-style: none;

    &.active {
        display: block;
    }

    li {


        &:hover {
            .children {

            }
        }
    }
    a {
        display:block;
        color: #444;
        padding: .2em 1em;
        text-decoration: none;
        background: none;
        border: none;
        font-family: 'Oswald', sans-serif;
        word-spacing: 0;
        text-transform: uppercase;
        font-size: 1em;

        &:visited {
            color: #444;
        }
        &:hover,
        &:focus {
            color: $blue;
            text-decoration: none;
            background: none;
            border: none;
        }

    }
    a:link  {
        background: none;
        border: none;
    }
    .current_page_item a span,
    .current-portfolio .page-item-279 a span {
        border-bottom: 4px solid $blue;
    }
    .current_page_item a:hover,
    .current_page_item a:focus {
        cursor: default;
        text-decoration: none;
    }
/*     @include mq($from: tablet) {
        a {
            padding: .2em 1em;
        }

    } */

} //end #nav

.children {
    position: absolute;
    width: 10em;
    left: -1000em;
    background: #333;
    margin: 0;
}

#nav.current-portfolio .page-item-279 a,
#nav.current-portfolio .page-item-3 a,
#nav.current-blog .page-item-47 a {
    color: #fff;
    background-color: rgba(12, 43, 87, 0.7);
    text-shadow: 1px 1px 1px #061e3f;
    -webkit-box-shadow: inset 0px 0px 85px rgba(12, 43, 87, 0.8);
    -moz-box-shadow:    inset 0px 0px 100px rgba(12, 43, 87, 0.8);
    box-shadow:         inset 0px 0px 85px rgba(12, 43, 87, 0.8);
}
