


.nav-overlay {
    position: fixed;
    opacity: 0;
    z-index: 800;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0,-127%);

    background-color: #f4fafc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    transition: transform .5s,opacity 0 .6s;
    overflow-y: scroll;

    &.nav-overlay--expanded {
        opacity: 1;
        transform: translate(0,0);
        transition: transform .5s,opacity .3s;
    }

}


