.post {
    padding: 0 0 1em 0;
    overflow:hidden;

    &.post-nonstandard {
        margin-top: 1em;
    }
}

.post--list-view {
    border-bottom: 1px solid #ccc;
    //font-size: emCalc(22);
    padding: 1em 0 1em 0;

    &:first-child {
        padding-top: 0;
        border-top: none;
    }
}

.post__title {

    margin-top: 0;

    a, a:hover {
        border: none;
    }
}

// meta
.post__meta {
    color: #666;
    margin-bottom: emCalc(14);
    font-size: .8em;

}

.post__featured {
    display: block;
    background: $green;
    padding: .5em;
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald";
    text-align: center;

    @include respond-min(45em) {
        float: right;
    }
}


.date {
    //background-color: $red;
    background-color: darken($red, 10%);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    margin-bottom: 1em;
    float: left;

    a {
        color: #fff;
        border: none;
    }
}
.month, .day, .year {
}
.month {

}
.day {
    padding: 3px;
}
.year {

}

.filter-links {
    clear: left;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: emCalc(10);
    font-size: .9em;

    .si-icon {
        margin-right: 5px;
    }
}


.filter {
    margin-right: 1px;
    display: inline-block;

    a {
        padding: 4px;
        display: block;
        float: left;
        background-color: $red;
        color: #fff;
        border: none;

        &:hover {
            background: $red;
            border: none;
        }
    }
}

.tags-links {

}

.tag {

}

.post__content {
    clear: left;
}


.post__comments-count {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    float: left;

    a {
        color: #fff;
        background-color: $red;
        border: none;
        display: block;
        padding: 10px;

        &:hover {
            border: none;
            background: $red;
        }
    }
    .comments-off {
        background: #ccc;
        padding: 10px;
        display: block;
    }
    .comments-none {

    }
    .comments-plural {

    }
}

.post__author {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 0 5px;
}

.author {
    border: none;
    padding: 10px;

    a {
        font-style: italic;
    }
}

.edit-link {
    display: block;
    clear: left;
}

//pagination for paged content

.page-links {
    margin-bottom: 14px;
    overflow: hidden;
    font-family: "Oswald";
    text-transform: uppercase;
    font-style: italic;
    text-align: center;

    .page-links-title {
        border: none;
        color: #444;
        display: inline-block;
        margin-right: 10px;
        color: #ccc;
        padding: 2px;
    }

    a, span {
        display: inline-block;
        margin-right: 15px;
        //padding: 2px;
        border: none;
    }

    a span {
        display: inline;
        float: none;
        margin: 0;
        border: none;
        color: $blue;

    }

}

.post-navigation {
}

.nav-links {
    padding: 1em 0;
    position: relative;

    a {
        font-family: 'Oswald';
        text-transform: uppercase;
        font-style: italic;
        padding: 0 2px;
        border: none;
    }
}

.nav-previous {
    position: absolute;
    left: 0;
}

.nav-next {
    position: absolute;
    right: 0;
}

