/*==================================================================
Sidebar
*/

.sidebar .widget {
    margin-bottom:20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset, 0 0 16px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ccc;
    padding: 10px;
}
.widget h3 {
    font-size:1.2em;
    text-transform: uppercase;
    border-bottom:1px solid #e3e3e3;
    padding: 5px 5px 10px 5px;
    margin: 0 0 10px 0;
}
.sidebar .widget h3 img {
    display:none;
}
.sidebar .widget_rssfeed {
    font-size:16px;
}
#s {
    width: 60%;
    margin-right: 5px;
}



/* Calender styles */
#wp-calendar {
    width:100%;
    margin-bottom:15px;
    clear:both;
    padding:0;
}
#wp-calendar caption {
    padding:10px;
    text-align:center;
}
#wp-calendar th,
#wp-calendar td {
    text-align: center;
    background: #E7E7E7;
    color: #9E9E9E;
    padding: 5px;
}
#wp-calendar td {
    background: transparent;
}
#wp-calendar td,
table#wp-calendar th{
    padding:3px 0;
}

/* WP-PageNavi Styles */
.wp-pagenavi {
    clear:both;
    font-size:12px;
    padding:20px 10px 0;
    text-align:right;
    text-transform:uppercase;
    border-top:1px solid #e3e3e3;

    a,
    a:link {
        padding: 2px 4px 2px 4px;
        margin: 2px;
        text-decoration: none;
        color: #87b5ca;
        background-color: #FFFFFF;
    }
    a:visited {
        padding: 2px 4px 2px 4px;
        margin: 2px;
        text-decoration: none;
        color: #87b5ca;
    }
    a:hover {
        color: #000000;
    }
    a:active {
        padding: 2px 4px 2px 4px;
        margin: 2px;
        text-decoration: none;
        color: #87b5ca;
    }
    span.pages {
        color: #737373;
        float:left;
    }
    span.current {
        padding: 2px 4px 2px 4px;
        margin: 2px;
        font-weight: bold;
        color: #303030;
    }
    span.extend {
        padding: 2px 4px 2px 4px;
        margin: 2px;
        color: #000000;
    }
}
