/*comments*/

#comments {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    margin-bottom: 0;
}
#comment-form {
    padding: 10px 0;    
    border-top: 1px solid #ccc;
}

.commentlist {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;

    li p {
        line-height: 22px;
        margin-top: 5px;
    }
    li.odd {
        background-color: rgba(255, 255, 255, 0.3);
    }
    li.even {
        background-color: rgba(255, 255, 255, 0.6);
    }
}
.commentlist li, 
#comment-form {
    margin:10px 0;
    line-height:18px;
    padding:10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset, 0 0 16px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);
}
.children{
    list-style: none;
    padding: 0;
}
.children, 
.commentlist .children li:last-child {
    margin-bottom: 0;
}
.comment-author, 
.comment-meta {
    margin-bottom: 10px;
}
.comment-author .fn {
    color:#000;
}
#content .avatar {
    float:right;
    border:1px solid #dddddd;
    background:#ededed;
    padding:3px;
}
.comment-meta {
    font-size:.9em;
}
.comment-meta a {
    color: #666;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    white-space: normal;
}
#commentform {
    label small {
        font-size:10px;
        color:#a0a0a0;
    }
    input {
        width:400px;
    }
    textarea {
        width:98%;
        max-width: 98%;
    }
    #commentSubmit {
        width:100px;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
    }
}
.navigation,
.comment-nav {
    clear:both;
    overflow:hidden;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
.alignright {
    text-align:right;
}
.navigation a,
.comment-nav a{
    padding:5px 10px;
    color: white;
    background-color: rgba(12, 43, 87, 0.6);
    text-shadow: 1px 1px 1px #061E3F;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 85px rgba(12, 43, 87, 0.8);
    -moz-box-shadow: inset 0px 0px 100px rgba(12, 43, 87, 0.8);
    box-shadow: inset 0px 0px 85px rgba(12, 43, 87, 0.8);
}
.navigation a:hover,
.comment-nav a:hover {
    text-decoration: underline;
}
.container .fullwidth {
    width:100%;
}
.thumblarge {
    margin-bottom:20px;
}