.format-quote {
    padding: 0;

    .entry-content {
        margin-bottom: emCalc(14);

        blockquote {
            color: #fff;
            font-size: emCalc(28);
            padding: 20px 20px 20px 95px;
            margin: 0;
            border: none;
            background-color: lighten($red, 10%);

            p {
                color: #fff;
            }
            &::before {
                left: 20px;
            }
        }

        cite {
            display: block;
            font-size: 16px;
            text-transform: uppercase;
            color: #f7f7f7;

            a {
                color: #f7f7f7;
            }
        }
    }
}
