/*Colors*/

$red: #d92f30;
$blue: #3084d9;

$blueHighlight: #1c3e6c;
$blueLowlight: #09264b;
$deepBlue: #0c2b55;

$lightGrey: #cccccc;
$darkGrey: #333333;
$offWhite: #f6f6f6;

/*Font Families*/

$FFhelvetica : "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
