/*====================================================
Forms
*/
label {
    display:block;
    margin-bottom:5px;
}
input,
textarea,
select {
    padding:5px;
    margin:0 0 10px 0;
    border:1px solid #ccc;
    max-width: 100%;
    background: $blue;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset, 0 0 16px rgba(0, 0, 0, 0.1);
    color:#333;
}
input:focus,
textarea:focus,
select:focus {
    border:1px solid darken($blue, 10%);
}
.button,
#searchsubmit {
    background: $blue;
    border:1px solid darken($blue, 10%);
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    margin: 0;
    min-width:inherit;
}
.button:hover,
.button:focus,
#searchsubmit:hover,
#searchsubmi:focus  {
    background: lighten($blue, 10%);
    border: 1px solid darken($blue, 10%);
    text-decoration: underline;
}
