/*====================================================
Links */

a,
a:visited {
    color: #3084d9;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
    text-decoration: none;
    transition: color 0.3s, border 0.3s;
    -moz-transition: color 0.3s, border 0.3s;
    -ms-transition: color 0.3s, border 0.3s;
    -o-transition: color 0.3s, border 0.3s;
    -webkit-transition: color 0.3s, border 0.3s;
}
a:hover, a:focus, a:active {
    color: $blue;
    border-color: $blue;
    text-decoration: none;
}
