
#logo {
    margin: 10px auto;
    font-size: 20px;
    width: 50px;

    @include mq($from: desktop) {
        margin: 15px 0 20px 0;
        float: left;
    }

    a {
        background: none;
        border: none;
        padding: 0;
        display: block;
        text-indent: -9999px;
        height: 50px;

        &:hover {
            color: #113c77;
        }

    }

    #larry {
        background: transparent image_url("mobile-logo.png") no-repeat left center;
        width: 50px;
        height: 50px;
        display: block;
    }
    span {
        display: none;
    }


}



#designer {
    color:$blue;
    margin-right: 3px;
}
#dev {
    color: $red;
    margin-left: 3px;
}