
/*nav*/
#access {
    text-align:center;
}

.menu-toggle {
    text-transform: uppercase;
    padding: 10px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

#nav {
    padding:0;
    list-style:none;
    display: none;

    &.active {
        display: block;
    }

    li {
        display:inline-block;
        position: relative;

        &:hover {
            .children {
                left: 0;
            }
        }
    }
    a {
        display:block;
        padding: 10px 15px;
        text-decoration:none;
        background: none;
        border: none;
        font-family: 'Oswald', sans-serif;
        word-spacing: 0;
        text-transform: uppercase;
        font-size: 1.2em;
    }
    a:link  {
        //text-shadow: 1px 1px 1px #ccc;
        background: none;
        border: none;
    }
    a:visited {
    }
    .current_page_item a,
    .current-portfolio .page-item-279 a {
        color: #fff;
        background-color: #333;
/*         text-shadow: 1px 1px 1px #061e3f;
        -webkit-box-shadow: inset 0px 0px 85px rgba(12, 43, 87, 0.8);
        -moz-box-shadow:    inset 0px 0px 100px rgba(12, 43, 87, 0.8);
        box-shadow:         inset 0px 0px 85px rgba(12, 43, 87, 0.8); */
    }
    .current_page_item a:hover,
    .current_page_item a:focus {
        cursor: default;
        text-decoration: none;
        color: #fff;
        background-color: $blue;
    }
    li a:hover,
    li a:focus {
        color: #d92f30;
        text-decoration: underline;
        background: none;
        border: none;
    }
}//end #nav

.children {
    position: absolute;
    width: 10em;
    left: -1000em;
    background: #333;
    margin: 0;
}

#nav.current-portfolio .page-item-279 a,
#nav.current-portfolio .page-item-3 a,
#nav.current-blog .page-item-47 a {
    color: #fff;
    background-color: rgba(12, 43, 87, 0.7);
    text-shadow: 1px 1px 1px #061e3f;
    -webkit-box-shadow: inset 0px 0px 85px rgba(12, 43, 87, 0.8);
    -moz-box-shadow:    inset 0px 0px 100px rgba(12, 43, 87, 0.8);
    box-shadow:         inset 0px 0px 85px rgba(12, 43, 87, 0.8);
}
